{{template "header.html" .}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="page-header" style="color:#00aeef;">New executions</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div>
      {{range .execs}}
        <div class="list_panel">
          {{template "Executions/execution.html" . }}
        </div>
        {{end}}

    </div>
</div>
<script>
$(".save_exec_btn").show();
$(".add_params_btn").show();
$(".delete_exec_btn").show();
$(".remove_params_exec").show();
</script>

{{template "footer.html" .}}
