{{template "header.html" .}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="page-header" style="color:#00aeef;">New executions</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div>
      {{range .execs}}
      
        <div class="row panel_test">
          <!-- /.col-lg-8 -->

          <div class="col-lg-12">

              {{template "Executions/execution.html" . }}
          </div>
        </div>
        {{end}}

    </div>
</div>
{{template "footer.html" .}}
