{{set_exec_uuid . }}
<div class="panel panel-info panel_exec" id=panel_exec_{{.Uuid}}_{{.ID}}>
  <div class="panel-heading" id=>
    {{if eq .ID 0}}
    <h4 class="panel-title">
      <a  id=collapser_exec_{{.Uuid}} style="background-color:transparent;"><span>New template execution</span></a>
    </h4>    {{else}}
    <h4 class="panel-title">
      <a  id=collapser_exec_{{.Uuid}} style="background-color:transparent;"><span>{{.Name}}</span></a>
    </h4>
    {{end}}
  </div>
  {{if eq .ID 0}}
  <div id="collapse_exec_{{.Uuid}}">
  {{else}}
  <div id="collapse_exec_{{.Uuid}}" class="panel-collapse" style="display:none;">
  {{end}}
    <div class="panel-body">
      <div class="form-group">
        <div id=exec_div_select>
          <div class="form-group">
            <label>Name</label>
            <input required id=exec_name_{{.Uuid}} type="text" class="form-control" value="{{.Name}}">
          </div>
          <div class="form-group">
            <div class="form-group">
              <label>Script</label>
            </div>
            <textarea id=script_area_{{.Uuid}}>{{.Script}}</textarea>
          </div>

          <div class="form-group panel panel-info">
            <div class="panel-heading">Parameters</div>
            <div class="panel-body">
              <table class="table" id=panel_exec_params_{{.Uuid}}>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Default value</th>
                    <th>Type</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id=panel_body_params_{{.Uuid}}>
                {{range .Params}}
                  <tr>
                    <td class="col-lg-5">
                      <input type="text" class="form-control name_params" value="{{.Name}}">
                    </td>
                    {{if eq .Type "file"}}
                    <td class="col-lg-2">
                      <input type="file"  class="value_params" value="{{.Value}}"></input>
                      <span class="file_title">{{.Value}}</span>
                    </td>
                    {{else}}
                    <td class="col-lg-5">
                      <input type="text" class="form-control value_params" value="{{.Value}}">
                    </td>
                    {{end}}
                    <td class="col-lg-2">
                      <select class="form-control select_type_params">
                        {{if eq .Type "bool"}}
                        <option selected="selected">bool</option>
                        {{else}}
                        <option>bool</option>
                        {{end}}

                        {{if eq .Type "int"}}
                        <option selected="selected">int</option>
                        {{else}}
                        <option>int</option>
                        {{end}}

                        {{if eq .Type "string"}}
                        <option selected="selected">string</option>
                        {{else}}
                        <option>string</option>
                        {{end}}

                        {{if eq .Type "file"}}
                        <option selected="selected">file</option>
                        {{else}}
                        <option>file</option>
                        {{end}}
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-danger remove_params_exec" style="display:none;">Remove</button>
                    </td>
                  </tr>
                {{end}}
                </tbody>
              </table>
              <button class="btn btn-success add_params_btn" style="display:none;" id=add_params_btn_{{.Uuid}}>Add parameter</button>
            </div>
          </div>

          <div class="form-group">
            <div class="panel panel-warning" id=output_exec_{{.Uuid}} style="display:none;">
              <div class="panel-heading">Output</div>
              <div class="panel-body">
                <textarea id=output_script_area_{{.Uuid}}></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p class="buttons">
              <button id=save_btn_{{.Uuid}} class="save_exec_btn btn btn-primary" style="display:none;">Save execution</button>
              <button id=create_btn_{{.Uuid}} class="save_exec_btn btn btn-primary">Create execution</button>
              <button id=run-btn_{{.Uuid}} class="run_exec_btn btn btn-success">Run execution</button>
              <button id=clear_exec_btn_{{.Uuid}} class="clear_exec_btn btn btn-warning">Clear script</button>
              <button id=clear_history_btn_{{.Uuid}} class="clear_history_btn btn btn-warning">Clear history</button>
              <button id=delete_btn_{{.Uuid}} style="display:none;" class="delete_exec_btn btn btn-danger">Delete</button>
            </p>
          </div>
          <div class="form-group" >
            <ul class="list-group">
              <li id=save_error_{{.Uuid}} style="display:none;"  class="list-group-item list-group-item-danger"></li>
              <li id=save_success_{{.Uuid}}  style="display:none;" class="list-group-item list-group-item-success"></li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/runner.js"></script>

<script>

var Uuids = []

init({{.Uuid}})

$(document).ready(function() {
  if ({{.ID}} == 0) {
    $("#save_btn_{{.Uuid}}").hide();
    $("#delete_btn_{{.Uuid}}").hide();
  } else {
    $("#create_btn_{{.Uuid}}").hide()
  }


    $("#collapser_exec_{{.Uuid}}").on('click', function() {
      $("#collapse_exec_{{.Uuid}}").toggle()
      script_editor[{{.Uuid}}].refresh()
      output_script_editor[{{.Uuid}}].refresh()
    });

    $('.select_type_params').on('change', function() {
        if (this.value == "file") {
          $(this).parent().parent().find(".value_params").attr("type", "file")
          $(this).parent().parent().find(".value_params").removeClass("form-control")
        } else {
          $(this).parent().parent().find(".value_params").addClass("form-control")
          $(this).parent().parent().find(".value_params").attr("type", "text")
        }
    })

    function getParams(uuid) {
      params = []
      $('#panel_body_params_{{.Uuid}} tr').each(function() {
        var value;

        if ($(this).find(".select_type_params :selected").val() == "file") {
          if ($(this).find(".value_params").prop('files')[0]) {
            value = $(this).find(".value_params").prop('files')[0];
          } else {
            value = $(this).find(".file_title").text()
          }
        } else {
          value = $(this).find(".value_params").val()
        }
        obj = {
          name : $(this).find(".name_params").val(),
          value : value,
          type : $(this).find(".select_type_params :selected").val()
        }
        params.push(obj)
      });
      return params
    }

    $("#create_btn_{{.Uuid}}").click(function() {
      $("#save_error_{{.Uuid}}").hide()
      $("#save_success_{{.Uuid}}").hide()

      var form_data = new FormData()
      var params = getParams({{.Uuid}})

       form_data.append("name", $("#exec_name_{{.Uuid}}").val());
       form_data.append("script", script_editor[{{.Uuid}}].getValue());
       form_data.append("parameters", JSON.stringify(params));

       for (i = 0; i < params.length; i++) {
         if (params[i].type == "file") {
           form_data.append(params[i].name, params[i].value);
         }
       }
       $.ajax({
                   url: 'http://{{getIP}}:9000/execution/', // point to server-side PHP script
                   dataType: 'text',  // what to expect back from the PHP script, if anything
                   cache: false,
                   contentType: false,
                   processData: false,
                   data: form_data,
                   type: 'post',
                   success: function(php_script_response){
                       response = JSON.parse(php_script_response);
                       if (response["status"] != true) {
                         $("#save_error_{{.Uuid}}").slideDown()
                         $("#save_error_{{.Uuid}}").text(response["message"])
                       } else {
                         $("#save_success_{{.Uuid}}").slideDown()
                         $("#save_success_{{.Uuid}}").text(response["response"])
                         console.log(response["response"])
                       }
                   },
                   error: function (request, error) {
                        alert(" Can't do because: " + error);
                    },
        });
    });

    $("#save_btn_{{.Uuid}}").click(function() {
        $("#save_error_{{.Uuid}}").hide()
        $("#save_success_{{.Uuid}}").hide()

        var form_data = new FormData()
        var params = getParams({{.Uuid}})

         form_data.append("name", $("#exec_name_{{.Uuid}}").val());
         form_data.append("script", script_editor[{{.Uuid}}].getValue());
         form_data.append("parameters", JSON.stringify(params));

         for (i = 0; i < params.length; i++) {
           if (params[i].type == "file") {
             console.log("on est ici : " + params[i].value)
             form_data.append(params[i].name, params[i].value);
           }
         }
         $.ajax({
                     url: 'http://{{getIP}}:9000/execution/' + {{.ID}}  + "?id_exec=" + {{.ID}}, // point to server-side PHP script
                     dataType: 'text',  // what to expect back from the PHP script, if anything
                     cache: false,
                     contentType: false,
                     processData: false,
                     data: form_data,
                     type: 'put',
                     success: function(php_script_response){
                         response = JSON.parse(php_script_response);
                         if (response["status"] != true) {
                           $("#save_error_{{.Uuid}}").slideDown()
                           $("#save_error_{{.Uuid}}").text(response["message"])
                         } else {
                           $("#save_success_{{.Uuid}}").slideDown()
                           $("#save_success_{{.Uuid}}").text(response["response"])
                           console.log(response["response"])
                         }
                     },
                     error: function (request, error) {
                          alert(" Can't do because: " + error);
                      },
          });
    });

    $("#delete_btn_{{.Uuid}}").click(function(){
      $.ajax({
          url: '/execution/' + {{.ID}} + "?id_exec=" + {{.ID}},
          type: 'DELETE',
          success: function(result) {
            if (result["status"] != true) {

              $("#save_error_{{.Uuid}}").slideDown()
              $("#save_error_{{.Uuid}}").text(result["message"])
            } else {
              $("#panel_exec_{{.Uuid}}_{{.ID}}").remove()
            }
              // Do something with the result
          }
      });
    });

    $("#run-btn_{{.Uuid}}").click(function(){
      $("#save_error_{{.Uuid}}").slideUp()
      $("#save_success_{{.Uuid}}").slideUp()

      $.getJSON( "http://{{getIP}}:9000/execution/run?id_exec=" + encodeURIComponent({{.ID}}) + "&script=" + encodeURIComponent(script_editor[{{.Uuid}}].getValue()), function(data) {
        if (data["success"] == false) {
          alert(data["message"])
        } else {
          $("#output_exec_{{.Uuid}}").slideDown()
          output_script_editor[{{.Uuid}}].refresh()
          room_Uuid = data["response"]

          var socket = new WebSocket('ws://{{getIP}}:9000/websocket/room?room_name=' + room_Uuid)
          init_run({{.Uuid}})

          output = ""
          socket.onmessage = function(event) {
            output = JSON.parse(event.data)
            console.log(event.data)

            if (output["status"] == false) {
              alert(output["message"])
              isFinished[{{.Uuid}}] = true
            } else if (output["response"]["body"] && output["response"]["event_type"] != "result_exec") {
              console.log("on push dans la queue : " + output["response"]["body"].match(/[\s\S]{1,1000}/g))
              new_array = output["response"]["body"].match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array.length; i++) {
                queues[{{.Uuid}}].push(new_array[i])
              }
              //queues[{{.Uuid}}].push(output["response"]["body"]);
            } else if (output["response"]["event_type"] == "result_exec") {
              isFinished[{{.Uuid}}] = true

              if (output["status"] != true) {

                $("#save_error_{{.Uuid}}").slideDown()
                $("#save_error_{{.Uuid}}").text(output["message"])
              } else {
                $("#save_success_{{.Uuid}}").slideDown()
                $("#save_success_{{.Uuid}}").text("Execution done !")
              }
            }
          }
        }
      });
    });

    $("#clear_exec_btn_{{.Uuid}}").click(function() {
      script_editor[{{.Uuid}}].setValue("")
    });

    $("#clear_history_btn_{{.Uuid}}").click(function() {
      $("#output_exec_{{.Uuid}}").slideUp()
      output_script_editor[{{.Uuid}}].setValue("")
    });

    $(".remove_params_exec").click(function() {
      $(this).parent().parent().remove()
    });


    $("#add_params_btn_{{.Uuid}}").click(function() {
      console.log($("#panel_exec_params_{{.Uuid}}"))
      $('#panel_exec_params_{{.Uuid}} > tbody:last-child').append('<tr><td class="col-lg-5"><input required type="text" class="form-control name_params" value=""></td><td class="col-lg-5"><input required  type="text" class="form-control value_params" value=""></td><td class="col-lg-2"><select class="form-control select_type_params"><option>bool</option><option>int</option><option>string</option><option>file</option></select></td><td><button class="btn btn-danger remove_params_exec">Remove</button></td></tr>');
      $(".remove_params_exec").click(function() {
        $(this).parent().parent().remove()
      });
      $('.select_type_params').on('change', function() {
          if (this.value == "file") {
            $(this).parent().parent().find(".value_params").attr("type", "file")
            $(this).parent().parent().find(".value_params").removeClass("form-control")
          } else {
            $(this).parent().parent().find(".value_params").addClass("form-control")
            $(this).parent().parent().find(".value_params").attr("type", "text")
          }
      })
      $('.value_params').on("change", function(){
        $(this).parent().find(".file_title").text($(this).val().split("\\")[2])
      });

    });

    $('.value_params').on("change", function(){
      $(this).parent().find(".file_title").text($(this).val().split("\\")[2])
    });

});
</script>
