{{template "header.html" .}}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="color:#00aeef;">All libraries</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <!-- /.col-lg-8 -->

        <!----- Run execute  ----->
        <div class="col-lg-12">
          {{range .libs}}
            {{template "Libraries/library.html" .}}
          {{end}}
        </div>

    </div>

    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

{{template "footer.html" .}}
