{{set_library_uuid . }}
<div class="panel panel-info" id=panel_library_{{.LibraryID}}>
  <div class="panel-heading" id=>
    {{if eq .LibraryID 0}}
    <h4 class="panel-title">
      <a data-toggle="collapse" href=collapse_library_{{.Uuid}} id=collapser_library_{{.Uuid}} style="background-color:transparent;"><span>New library</span></a>
    </h4>    {{else}}
    <h4 class="panel-title">
      <a data-toggle="collapse" href=collapse_library_{{.Uuid}} id=collapser_library_{{.Uuid}} style="background-color:transparent;"><span>{{.Name}}</span></a>
    </h4>
    {{end}}
  </div>
  {{if eq .LibraryID 0}}
  <div id="collapse_library_{{.Uuid}}">
  {{else}}
  <div id="collapse_library_{{.Uuid}}" class="panel-collapse collapse">
  {{end}}
    <div class="panel-body">
      <div class="form-group">
        <label>Name</label>
        <input required id=library_name_{{.Uuid}} type="text" class="form-control" value="{{.Name}}">
      </div>
      <div class="form-group">
        <label for="sel1">Select test:</label>
        <select class="form-control" id="select_library_{{.Uuid}}">
          <option val="0"></option>
        </select>
        <div id=add_test_{{.Uuid}} style="margin-top:20px;"></div>
        <button  class="btn btn-primary" id=add_btn_test_{{.Uuid}}>Add test</button>
      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
          <div class="panel panel-warning">
            <div class="panel-heading">Test</div>
              <div class="panel-body" id=panel_test_library_{{.Uuid}}>
                {{range .Tests}}
                <div id=panel_one_test_{{.Uuid}}_{{.TestID}}>
                  <div class="col-lg-11">
                  {{template "Tests/test.html" .}}
                  </div>
                  <div class="col-lg-1">
                    <button class="btn btn-danger" id=remove_test_from_list_btn_{{.Uuid}}_{{.TestID}}>Remove</button>
                  </div>
                {{end}}
              </div>
            </div>
          </div>
      </div>

      <!-- output de test -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=panel_lib_run_{{.Uuid}} style=" margin-top:20px;display:none;">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>{{.Name}} run</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div  class="col-sm-12">

                  <div class="form-group">
                    <div id="myProgress_{{.Uuid}}" style="position: relative;width: 100%;height: 30px;background-color: #ddd;">
                      <div id="myBar_{{.Uuid}}" style="position: absolute;width: 1%;height: 100%;background-color: #5cb85c;">
                        <div id="label_{{.Uuid}}" style="text-align: center;line-height: 30px;color: white;">0%</div>
                      </div>
                    </div>
                  </div>

                  <div class="panel-group" id="panel_output_lib_{{.Uuid}}">
                    {{range .Tests}}
                    <div class="test_id_{{.TestID}}">
                    {{template "TestHistory/history.html" newHistory}}
                  </div>
                    {{end}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-group">
                    <li id=save_lib_run_error_{{.Uuid}}  style="display:none;" class="list-group-item list-group-item-danger"></li>
                    <li id=save_lib_run_success_{{.Uuid}}  style="display:none;" class="list-group-item list-group-item-success"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- history  -->
      <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=lib_history_panel_{{.Uuid}} style="display:none;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#lib_history_collapse_{{.Uuid}}"  style="background-color:transparent;">History</a>
                  <button  class="btn btn-danger delete_btn" id=clear_lib_history_btn_{{.Uuid}}>Clear</button>
                </h4>
              </div>
              <div id="lib_history_collapse_{{.Uuid}}" class="panel-collapse collapse in">
                <div class="panel-body" id=lib_history_panel_body_{{.Uuid}}></div>
              </div>
            </div>
        </div>
      </div>

      <div class="form-group">
        <button  class="btn btn-primary create_btn" id=create_btn_library_{{.Uuid}}>Create</button>
        <button  class="btn btn-primary update_btn" id=update_btn_library_{{.Uuid}}>Update</button>
        <button  class="btn btn-success run_btn" id=run_btn_library_{{.Uuid}}>Run</button>
        <button  class="btn btn-warning history_btn" id=see_history_library_btn_{{.Uuid}}>See history</button>
        <button  class="btn btn-danger delete_btn" id=delete_btn_library_{{.Uuid}}>Delete</button>
      </div>
      <ul class="list-group">
        <li id=save_library_error_{{.Uuid}} style="display:none;" class="list-group-item list-group-item-danger"></li>
        <li id=save_library_success_{{.Uuid}} style="display:none;"  class="list-group-item list-group-item-success"></li>
      </ul>
    </div>
  </div>
</div>

<script>

var testIDs = {}
var tests

var currentData = {}
var listTests = {}

$(document).ready(function() {
  listTests[{{.Uuid}}] = []
  testIDs[{{.Uuid}}] = 0

  if (!tests) {
    $.ajax({
      dataType: "json",
      url: "http://{{getIP}}:9000/test",
      success: function (data) {
        tests = data
        $.each(tests, function(k,v){
          $('#select_library_{{.Uuid}}').append($('<option>', {
                value : v["testID"],
                text: v["name"]
              }))
          });
        }
    });
  } else {
    $.each(tests, function(k,v){
      $('#select_library_{{.Uuid}}').append($('<option>', {
            value : v["testID"],
            text: v["name"]
          }))
      });
  }


  $("#add_btn_test_{{.Uuid}}").click(function() {
    console.log("asdas : "  + testIDs[{{.Uuid}}])

    if (testIDs[{{.Uuid}}] != 0 && $.inArray(testIDs[{{.Uuid}}], listTests[{{.Uuid}}]) == -1) {
      console.log("asdas")
      listTests[{{.Uuid}}].push(testIDs[{{.Uuid}}])
      $("#add_test_{{.Uuid}} .panel").remove()

      $("#panel_test_library_{{.Uuid}}").append('<div id=panel_one_test_{{.Uuid}}_' + testIDs[{{.Uuid}}] + '><div class="col-lg-11">' + currentData[{{.Uuid}}] +
      '</div><div class="col-lg-1"><button class="btn btn-danger" id="remove_test_from_list_btn_{{.Uuid}}_' + testIDs[{{.Uuid}}] +
      '">Remove</button></div></div>')

      $("#remove_test_from_list_btn_{{.Uuid}}_" + testIDs[{{.Uuid}}]).click(function() {
        id = this.id.split('_')[6]
        $("#panel_one_test_{{.Uuid}}_" + id).remove()
        listTests[{{.Uuid}}]=jQuery.grep(listTests[{{.Uuid}}],function(value) {return value != id;})
      });

      $("#remove_test_from_list_btn_{{.Uuid}}_" + testIDs[{{.Uuid}}]).onclick = function () {
        console.log('tata')

      };
      function test() {
        $("#panel_one_test_{{.Uuid}}_" + testIDs[{{.Uuid}}]).remove();
        listTests[{{.Uuid}}] = jQuery.grep(y, function(value) {return value !=  testIDs[{{.Uuid}}];})

      }

      $('#select_library_{{.Uuid}}').val("0")
      testIDs[{{.Uuid}}] = 0
       currentData[{{.Uuid}}] = null
    }
  });

  $('#select_library_{{.Uuid}}').on('change', function() {
    $("#add_test_{{.Uuid}} .panel").remove()
    var value = $('#select_library_{{.Uuid}} :selected').text()
    function getElement(element) {
      return element.name == value;
    }
    elem = tests.find(getElement)
    if (!elem) {
      testIDs[{{.Uuid}}] = 0
    } else {
      $.ajax({
        url: "http://{{getIP}}:9000/test/" + elem.test_id + "/template?testID=" + elem.test_id,
        success: function (data) {
          currentData[{{.Uuid}}] = data
         $("#add_test_{{.Uuid}}").html(data)
        }
      });
      testIDs[{{.Uuid}}] = elem.test_id
    }
  });

  $("#update_btn_library_{{.Uuid}}").click(function() {
    $("#save_library_error_{{.Uuid}}").hide()
    $("#save_library_success_{{.Uuid}}").hide()

    var data = {
      name : $("#library_name_{{.Uuid}}").val(),
      test_ids : listTests[{{.Uuid}}],
    };

        // construct an HTTP request
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", 'http://{{getIP}}:9000/libraries/' + {{.LibraryID}} + "?id_lib=" + {{.LibraryID}}, true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

      // send the collected data as JSON
      xhr.send(JSON.stringify(data));

      xhr.onloadend = function () {
        response = JSON.parse(xhr.responseText);
        if (response["status"] != true) {

          $("#save_library_error_{{.Uuid}}").slideDown()
          $("#save_library_error_{{.Uuid}}").text(response["message"])
        } else {
          $("#save_library_success_{{.Uuid}}").slideDown()
          $("#save_library_success_{{.Uuid}}").text(response["response"])
          console.log(response["response"])
        }
      };
  });

  $("#delete_btn_library_{{.Uuid}}").click(function(){
    $.ajax({
        url: '/libraries/' + {{.LibraryID}} + "?id_lib=" + {{.LibraryID}},
        type: 'DELETE',
        success: function(result) {
          if (result["status"] != true) {

            $("#save_library_error_{{.Uuid}}").slideDown()
            $("#save_library_error_{{.Uuid}}").text(result["message"])
          } else {
            $("#panel_library_{{.Uuid}}").remove()
          }
            // Do something with the result
        }
    });
  });


  $("#create_btn_library_{{.Uuid}}").click(function() {
     $("#save_library_error_{{.Uuid}}").hide()
     $("#save_library_success_{{.Uuid}}").hide()

      var data = {
        name : $("#library_name_{{.Uuid}}").val(),
        test_ids : listTests[{{.Uuid}}],
      };

          // construct an HTTP request
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://{{getIP}}:9000/libraries/', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        // send the collected data as JSON
        xhr.send(JSON.stringify(data));

        xhr.onloadend = function () {
          response = JSON.parse(xhr.responseText);
          console.log(response);
          if (response["status"] != true) {

            $("#save_library_error_{{.Uuid}}").slideDown()
            $("#save_library_error_{{.Uuid}}").text(response["message"])
          } else {
            $("#save_library_success_{{.Uuid}}").slideDown()
            $("#save_library_success_{{.Uuid}}").text(response["message"])
            console.log(response["response"])
            console.log(response["response"]["TestID"])
          }
        };
  });

  $("#collapser_library_{{.Uuid}}").on('click', function() {
    $("#collapse_library_{{.Uuid}}").toggle()
  });

  function run(libID, lib_uuid) {
    //console.log("exec uuid  :" + execUUIDs[ruuid])
    $.ajax({
      url: 'http://{{getIP}}:9000/libraries/' + libID + '/run', // url where to submit the request
      type : "POST", // type of action POST || GET
      dataType : 'json', // data type
      data : "libID=" + libID,
      success : function(data) {
        console.log(data)
        $("#panel_lib_run_" + lib_uuid).slideDown()
        if (data["status"] == false) {
            alert(data["message"])
          } else {
            nb_test = {{.Tests}}.length
            width = 0
            document.getElementById("myBar_" + lib_uuid).style.width = 0 + '%';
            document.getElementById("label_" + lib_uuid).innerHTML = 0 * 1 + '%';
            panel = $("#panel_output_lib_{{.Uuid}} .panel").each(function(k,v) {
              current_uuid = ($(this).attr('id')).split("_")[3]
              console.log("CURRENT IUID : " + current_uuid)
              $(this).removeClass("panel-success")
              $(this).removeClass("panel-danger")
              $(this).addClass("panel-default")

              init_run(current_uuid)
              init_run_test(current_uuid)
            });
            uuid = data["response"]
            var socket = new WebSocket('ws://{{getIP}}:9000/websocket/room?room_name=' + uuid)
            output = ""
            socket.onmessage = function(event) {
              output = JSON.parse(event.data)
              testID = output["test_id"]
              panel = $("#panel_library_{{.LibraryID}} .test_id_" + testID + " .panel")
              histUuid = panel.attr('id').split("_")[3]
              if (output["response"]["event_type"] == "start_test") {
                panel.addClass("panel-warning");
                panel.removeClass("panel-default");

                $("#save_test_run_error_history_" + histUuid).hide()
                $("#save_test_run_success_history_" + histUuid).hide()

                var myDate = new Date(output["response"]["time_runned"] / 1000000);
               $("#collapser_history_" + histUuid).text(myDate.toString());

                $("#panel_library_{{.LibraryID}} .test_id_" + testID + " .panel-collapse.collapse").collapse('show');
              }
              if (output["response"]["event_type"] == "exec_event") {

                new_array = output["response"]["body"].match(/[\s\S]{1,1000}/g)
                for (var i = 0; i < new_array.length; i++) {
                  queues[histUuid].push(new_array[i])
                }
                console.log("current uuid : " + histUuid + " msg : " + event.data)
              }
              if (output["response"]["event_type"] == "test_event") {
                new_array_ref = output["response"]["body"]["ref_log_event"] .match(/[\s\S]{1,1000}/g)
                for (var i = 0; i < new_array_ref.length; i++) {
                  queues_test_ref[histUuid].push(new_array_ref[i])
                }

                new_array_log = output["response"]["body"]["test_log_event"].match(/[\s\S]{1,1000}/g)
                for (var i = 0; i < new_array_log.length; i++) {
                  queues_test_test[histUuid].push(new_array_log[i])
                }
              }
              if (output["response"]["event_type"] == "result_event") {
                panel.removeClass("panel-warning");
                console.log("C EST FINI : uuid : " + histUuid)
                isFinished[histUuid] = true
                isFinished_test[histUuid] = true
                if (output["status"] == true) {
                  panel.addClass("panel-success");
                  $("#save_test_run_success_history_" + histUuid).text(output["response"]["body"])
                  $("#save_test_run_success_history_" + histUuid).slideDown()

                } else {
                  panel.addClass("panel-danger");
                  $("#save_test_run_error_history_" + histUuid).text(output["response"]["body"])
                  $("#save_test_run_error_history_" + histUuid).slideDown()
                  $("#myBar_{{.Uuid}}").css('background-color', 'red');
                }
                  width = width + 1 / nb_test * 100
                  document.getElementById("myBar_" + lib_uuid).style.width = width + '%';
                 document.getElementById("label_" + lib_uuid).innerHTML = width * 1 + '%';
                $("#panel_library_{{.LibraryID}} .test_id_" + testID + " .panel-collapse.collapse").collapse('hide');
              }
            }
        }
      },
      error: function(xhr, resp, text) {
          console.log(xhr, resp, text);
      }
    });
  }

  $("#run_btn_library_{{.Uuid}}").click(function() {
      run({{.LibraryID}}, {{.Uuid}});
     });

 $("#see_history_library_btn_{{.Uuid}}").click(function() {
   $.get( "/libraries/{{.LibraryID}}/history_template?libID={{.LibraryID}}", function(data) {
       $("#lib_history_panel_{{.Uuid}}").slideDown();
       $("#lib_history_panel_body_{{.Uuid}}").html(data)
     });
    });

    $("#clear_lib_history_btn_{{.Uuid}}").click(function() {
      $.ajax({
          url: '/libraries/' + {{.LibraryID}} + "/history?id_lib=" + {{.LibraryID}},
          type: 'DELETE',
          success: function(result) {
            $("#lib_history_panel_{{.Uuid}}").slideUp();
              // Do something with the result
          }
      });
    });
  });
</script>
