{{template "header.html" .}}

<script src="/public/CodeMirror/lib/codemirror.js"></script>
<script src="/public/CodeMirror/mode/xml/xml.js"></script>
<script src="/public/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/public/CodeMirror/mode/css/css.js"></script>
<script src="/public/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/CodeMirror/mode/python/python.js"></script>
<script type="text/javascript"
        src="/public/CodeMirror/mode/shell/shell.js"></script>
<script src="/public/CodeMirror/addon/edit/matchbrackets.js"></script>

<script src="/public/CodeMirror/doc/activebookmark.js"></script>
<script src="/public/js/jquery.js"></script>

<link rel=stylesheet href="/public/CodeMirror/lib/codemirror.css">
<link rel=stylesheet href="/public/CodeMirror/theme/mdn-like.css">


<style>
  .CodeMirror { height: 250px; border: 1px solid #ddd; }
  .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
  .cm-s-solarized .cm-builtin {
    color: #d54e53;
  }


   .CodeMirror-gutter  {
      background-color: #00aeef;
  }

  .cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
       color: white;
       text-shadow: #021014 0 2px;
      /* text-shadow: #140202 0 -1px; */
  }

  .cm-s-mdn-like .CodeMirror-linenumber {
    color: white;
}
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="color:#00aeef;">New execution</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <!-- /.col-lg-8 -->

        <!----- Run execute  ----->
        <div class="col-lg-12" id=run_div style="padding:0px;">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>New script</h3>
              </div>
                <div class="panel-body">
                  <div>
                    <div class="form-group">
                      <textarea id=run_area>#!/bin/bash</textarea>
                    </div>
                    <p class="buttons">
                      <button id=run-btn class="btn btn-success">Run</button>
                      <button id=clear-run-btn class="btn btn-warning" onclick="">Clear</button>
                    </p>
                  </div>
                </div>
              </div>
          </div>

        </div>
        <div class="row">

          <!----- Output execute  ----->
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Output execution</h3>
              </div>
              <div class="panel-body">
                <div>
                  <div class="form-group">
                      <textarea id=output_area></textarea>
                  </div>
                </div>
              </div>
          </div>

        </div>
        <div class="row">

          <div class="panel panel-info" id=form class="col-lg-12" >
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Registrer execution</h3>
            </div>
            <div class="panel-body">
              <div>
                <div class="form-group">
                  <form action="{{ url "Executions.Create"}}" method="POST">
                    {{with $field := field "execution.Name" .}}
                    <div class="form-group" >
                      <label for="name">Execution name</label>
                      <input required id="execName" name="{{$field.Name}}" type="text" class="form-control disabled" value="{{$field.Flash}}">
                    </div>
                    {{end}}
                    <p class="buttons">
                      <input type="submit" class="btn btn-success disabled" value="Save execution">

                      <button  class="btn btn-warning disabled">Clear history</button>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<script>
  var run_editor = CodeMirror.fromTextArea(document.getElementById("run_area"), {
    lineNumbers: true,
    theme:"mdn-like",
    mode: "text/x-sh",
    styleActiveLine:true,
    matchBrackets: true
  });

  var out_editor = CodeMirror.fromTextArea(document.getElementById("output_area"), {
    matchBrackets: true,
    theme:"mdn-like",
    lineNumbers: true,
    readOnly : true,
    styleActiveLine:true
    });

  $("#clear-run-btn").click(function() {
    run_editor.setValue("#!/bin/bash")
  });

  $("#run-btn").click(function(){
    $.getJSON( "/execution/run?script=" + encodeURIComponent(run_editor.getValue()), function(data) {
      if (data["success"] == false) {
        alert(data["error"])
      } else {

        out_editor.refresh()
        uuid = data["uuid"]
        var socket = new WebSocket('ws://localhost:9000/websocket/room?room_name=' + uuid)

             // Message received on the socket
        output = ""
        socket.onmessage = function(event) {
          if (JSON.parse(event.data) == "end_" + uuid) {
          } else {
            output = JSON.parse(event.data)
            //output += JSON.parse(event.data)
            out_editor.setValue(out_editor.getValue() + output)
            out_editor.scrollTo(0, 10000000)
          }
        }
      }
    });
  });
</script>


{{template "footer.html" .}}
