</div>
<!-- /#wrapper -->

<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="/public/lol/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/public/lol/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/public/lol/vendor/raphael/raphael.min.js"></script>
<script src="/public/lol/vendor/morrisjs/morris.min.js"></script>
<script src="/public/lol/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/public/lol/dist/js/sb-admin-2.js"></script>

</body>

</html>
