
{{template "header.html" .}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="page-header" style="color:#00aeef;">All test</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div>
    {{range .tests}}

      <div class="row panel_test" id={{.ID}}>
        <!-- /.col-lg-8 -->
          <div class="col-lg-12">
            <div class="panel-group" id=accordion>
              {{template "Tests/test.html" .}}

        </div>
    </div>
    {{end}}
  </div>
</div>
</div>

<style>
.line-error {
    background: #FBC2C4 !important;
    color: #8a1f11 !important;
}
</style>
<script>
$(".save_test_btn").show();
</script>
{{template "footer.html" .}}
