{{set_test_uuid . }}
<div class="panel panel-info" id=panel_test_infos_{{.Uuid}}>
  <div class="panel-heading">
    {{if eq .ID 0}}
    <!-- <h3 class="panel-title"><i>Register test</i></h3> -->
    <h4 class="panel-title">
      <a data-toggle="collapse" id=collapser_test_{{.Uuid}} style="background-color:transparent;">Register test</a>
    </h4>
    <!-- <a data-toggle="collapse" class="fa fa-clock-o fa-fw" href="#collapse1">Registrer test</a> -->
    {{else}}
    <h4 class="panel-title">
      <a data-toggle="collapse" href=collapse_test_{{.Uuid}} id=collapser_test_{{.Uuid}} data-parent="#accordion" style="background-color:transparent;">{{.Name}}</a>
    </h4>
    {{end}}
      <!-- <h3 class="panel-title"><i ></i></h3> -->
  </div>
  {{if eq .ID 0}}
  <div id="collapse_test_{{.Uuid}}" class="panel-collapse collapse in">
  {{else}}
  <div id="collapse_test_{{.Uuid}}" class="panel-collapse collapse">
  {{end}}
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div>
            <div class="form-group">
              <div class="form-group" >
                <label for="ScriptID" style="display:none;"></label>
                <input required id="execIDinput" type="hidden">
              </div>
              <div class="form-group" >
                <label for="test_name">Test name</label>
                <input required id="test_name_{{.Uuid}}" type="text" class="form-control" value="{{.Name}}">
              </div>
              <div class="form-group">
                <label for="path_file">Log ref event path file</label>
                <input required id="log_event_ref_file_{{.Uuid}}" value="{{.PathRefFile}}" type="file"></input>
                <span id=log_event_ref_file_span_{{.Uuid}}>{{.PathRefFile}}</span>
              </div>
              <div class="form-group">
                <label for="path_file">Log test event path file</label>
                <input required id="log_event_test_file_{{.Uuid}}" value="{{.PathLogFile}}" type="text" class="form-control"></input>
              </div>
              <div class="form-group" >
                <div class="form-group" >
                  <label for="config">Add config json file</label>
                  <input required id="config_script" type="hidden">
                </div>
                <textarea id="config_area_{{.Uuid}}" class="config_area">{{.Config}}</textarea>
              </div>

              {{if .Params}}
              <div class="form-group panel panel-info" id=params_test_{{.Uuid}}>
              {{else}}
              <div class="form-group panel panel-info" id=params_test_{{.Uuid}} style="display:none;">
              {{end}}
                <div class="panel-heading">Parameters</div>
                <div class="panel-body">
                  <table class="table" id=panel_test_params_{{.Uuid}}>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>value</th>
                        <th>Type</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id=panel_body_params_test_{{.Uuid}}>
                    {{range .Params}}
                      <tr>
                        <td>
                          <h5 class="name_params_test">{{.Name}}<h5>
                        </td>
                          {{if eq .Type "file"}}
                          <td class="col-lg-2">
                            <input type="file"  class="value_params_test" value="{{.Value}}"></input>
                            <span class="file_title_test">{{.Value}}</span>
                          </td>
                          {{else}}
                          <td class="col-lg-5">
                            <input type="text" class="form-control value_params_test" value="{{.Value}}">
                          </td>
                          {{end}}
                        <td class="col-lg-2">
                          <span class="label label-default type_params_test">{{.Type}}</span>
                        </td>
                      </tr>
                    {{end}}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6" id="exec_form_{{.Uuid}}">
          <div class="form-group"  >
            <label for="script">Add an Script</label>
            <select class="form-control" id=select_exec_{{.Uuid}}>
              <option val="0">Choose an Script</option>

            </select>
          </div>
            <div id=selected_exec_{{.Uuid}}>
            {{template "Scripts/script.html" .Script}}
          </div>
      <!-- NE PAS OUBLIER LES ScriptS -->
        </div>
      </div>
      <!-- output de test -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=panel_test_run_{{.Uuid}} style="display:none; margin-top:20px;">

          </div>
        </div>
      </div>

      <!-- history  -->
      <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=history_panel_{{.Uuid}} style="display:none;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#history_collapse_{{.Uuid}}"  style="background-color:transparent;">History</a>
                </h4>
              </div>
              <div id="history_collapse_{{.Uuid}}" class="panel-collapse collapse in">
                <div class="panel-body" id=history_panel_body_{{.Uuid}}></div>
              </div>
            </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-12">
          <div class="buttons">
            <button id=save_test_btn_{{.Uuid}} class="save_test_btn btn btn-primary" style="display:none;">Save</button>
            <button id=create_test_btn_{{.Uuid}} class="create_test_btn btn btn-primary">Create</button>
            <button id=run_test_btn_{{.Uuid}} class="run_test_btn btn btn-success">Run</button>
            <button id=delete_test_btn_{{.Uuid}} class="delete_test_btn btn btn-danger">Delete</button>
            <button id=exit_test_btn_{{.Uuid}} class="exit_test_run_btn btn btn-danger" style="display:none;">Exit run mode</button>
            <button id=history_test_btn_{{.Uuid}} class="history_test_btn btn btn-warning">See history</button>
          </div>
          <ul class="list-group">
            <li id=save_test_error_{{.Uuid}} style="display:none;" class="list-group-item list-group-item-danger"></li>
            <li id=save_test_success_{{.Uuid}} style="display:none;"  class="list-group-item list-group-item-success"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<style>

</style>

<script>
var ScriptIDs = {};
var array


init_test({{.Uuid}})

$(document).ready(function() {
  if (!array) {
    $.ajax({
      dataType: "json",
      url: "/scripts",
      success: function (data) {
        console.log(data)
        array = data["response"]
        $.each(array, function(k,v){
          $('#select_exec_{{.Uuid}}').append($('<option>', {
                value : v["ID"],
                text: v["name"]
              }))
          });
        }
    });
  } else {
    $.each(array, function(k,v){
      $('#select_exec_{{.Uuid}}').append($('<option>', {
            value : v["ID"],
            text: v["name"]
          }))
      });
  }


$("#collapser_test_{{.Uuid}}").on('click', function() {
  $("#select_exec_{{.Uuid}}").val({{.ScriptID}});
  });

  if ({{.ScriptID}} == 0) {
    $('#collapse_exec_' +{{.Uuid}}).css({"display":"none"});
  }
  ScriptIDs[{{.Uuid}}]  = {{.ScriptID}}


  $('#select_exec_{{.Uuid}}').on('change', function() {
    $("#panel_body_params_test_{{.Uuid}}").html("")
    var value = $('#select_exec_{{.Uuid}} :selected').text()
    function getElement(element) {
      return element.name == value;
    }
    elem = array.find(getElement)
    if (!elem) {
      console.log("ici")
      ScriptIDs[{{.Uuid}}] = 0
      $("#params_test_{{.Uuid}}").css({"display":"none"})
    } else {
      $.get( "/scripts/template?scriptID=" + elem.ID + "&uuid=" + {{.Uuid}}, function(data) {
        $("#selected_exec_{{.Uuid}}").html(data)
      });
      ScriptIDs[{{.Uuid}}] = elem.ID

      //console.log("ici + " + elem.parameters.length)
      if (elem.parameters && elem.parameters.length > 0) {
        console.log("la")
        $("#params_test_{{.Uuid}}").css({"display":"inherit"})
      } else {
        console.log("pwet")
        $("#params_test_{{.Uuid}}").css({"display":"none"})
        return
      }
      html = ""
      for (i = 0 ; i < elem.parameters.length; i++) {
        html += '<tr><td><h5 class="name_params_test">' + elem.parameters[i].name + '<h5></td>'
        if (elem.parameters[i].type == "file") {
          html += '<td class="col-lg-2"><input type="file"  class="value_params_test" value="' + elem.parameters[i].value + '"></input>' +
                    '<span class="file_title_test">' + elem.parameters[i].value + '</span></td>'
        } else {
          html += '<td class="col-lg-5"><input type="text" class="form-control value_params_test" value="' + elem.parameters[i].value + '"></td>'
        }
        html += '<td class="col-lg-2"><span class="label label-default type_params_test">' + elem.parameters[i].type + '</span></td></tr>'
      }
      $("#panel_body_params_test_{{.Uuid}}").html(html)

      $('.value_params_test').on("change", function(){
        $(this).parent().find(".file_title_test").text($(this).val().split("\\")[2])
      });
    }
  });

  $("#collapser_test_{{.Uuid}}").on('click', function() {
    $("#collapse_test_{{.Uuid}}").toggle()
    config_editor[{{.Uuid}}].refresh()
  });


  function getTestParams(uuid) {
    params = []
    $('#panel_body_params_test_' + uuid +' tr').each(function() {
      var value;
      console.log("tout debut : " + $(this).find(".value_params_test").attr("type"))
      if ($(this).find(".value_params_test").attr("type") == "file") {
        console.log("ici")
        if ($(this).find(".value_params_test").prop('files')[0]) {
          console.log("ici 1")

          value = $(this).find(".value_params_test").prop('files')[0];
        } else {
          console.log("ici 2 ")
          value = $(this).find(".file_title_test").text()
        }
        console.log("ici 3 " + value)
      } else {
        value = $(this).find(".value_params_test").val()
      }
      console.log(value)
      obj = {
        name : $(this).find(".name_params_test").text(),
        value : value,
        type : $(this).find(".type_params_test").text()
      }
      params.push(obj)
    });
    return params
  }

  function CreateOrUpdateTest(uuid, url, method) {
    $("#save_test_error_" + uuid).hide()
    $("#save_test_success_" + uuid).hide()
    var form_data = new FormData()
    var params = getTestParams(uuid)
     form_data.append("name", $("#test_name_" + uuid).val());
     form_data.append("config", config_editor[uuid].getValue());
     if ($("#log_event_ref_file_{{.Uuid}}").prop('files')[0]) {
       form_data.append("path_ref_log", $("#log_event_ref_file_" + uuid).prop('files')[0].name);
       form_data.append("path_ref_log_file", $("#log_event_ref_file_" + uuid).prop('files')[0]);
     } else {
       form_data.append("path_ref_log", $("#log_event_ref_file_span_" + uuid).text());
     }
     form_data.append("path_test_log", $("#log_event_test_file_" + uuid).val());
     form_data.append("parameters", JSON.stringify(params));

     console.log(params)

     if (ScriptIDs[uuid]) {
       console.log(ScriptIDs[uuid])
       form_data.append("scriptID", ScriptIDs[uuid]);
     } else {
       console.log("la")

       form_data.append("scriptID", 0);
     }
     for (i = 0; i < params.length; i++) {
       if (params[i].type == "file") {
         console.log("on est ici : " + params[i].value + " " +  params[i].name)
         form_data.append(params[i].name, params[i].value);
       }
     }
     $.ajax({
                 url: url, // point to server-side PHP script
                 dataType: 'text',  // what to expect back from the PHP script, if anything
                 cache: false,
                 contentType: false,
                 processData: false,
                 data: form_data,
                 type: method,
                 success: function(php_script_response){
                     response = JSON.parse(php_script_response);
                     if (response["status"] != true) {
                       $("#save_test_error_" + uuid).slideDown()
                       $("#save_test_error_" + uuid).text(response["message"])
                     } else {
                       $("#save_test_success_" + uuid).slideDown()
                       $("#save_test_success_" + uuid).text(response["message"])
                     }
                 },
                 error: function (request, error) {
                      alert(" Can't do because: " + error);
                  },
      });
  }

  $("#create_test_btn_{{.Uuid}}").click(function() {
    CreateOrUpdateTest({{.Uuid}}, '/tests/', 'post')
  });

  function run(testID, ruuid) {
    $("#save_test_run_error_history_{{.Uuid}}").hide();
    $("#save_test_run_success_history_{{.Uuid}}").hide();

    $.ajax({
      url: '/tests/' + testID + '/run', // url where to submit the request
      type : "POST", // type of action POST || GET
      dataType : 'json', // data type
      data : "testID=" + testID,
      success : function(data) {
        if (data["status"] == false) {
            alert(data["message"])
          } else {
            console.log(data)
          uuid = data["response"]
          var socket = new WebSocket('ws://'+ window.location.host +'/websocket/room?room_name=' + uuid)

          isFinished_test[{{.Uuid}}] = false
          isFinished[{{.Uuid}}] = false

          init_run({{.Uuid}})
          init_run_test({{.Uuid}})

          output = ""
          socket.onmessage = function(event) {
            console.log(event.data)
            output = JSON.parse(event.data)
            if (output["status"] == false) {
              $("#save_test_run_error_history_{{.Uuid}}").show();
              for (i = 0; i < output["errors"].length; i++) {
                $("#save_test_run_error_history_{{.Uuid}}").append('<li class="list-group-item list-group-item-danger">' + output["errors"][i] + '</li>')
              }
              $( "#head_panel_history_{{.Uuid}}" ).removeClass( "panel-warning" )
              $( "#head_panel_history_{{.Uuid}}" ).addClass( "panel-danger" )


            } else if (output["event_type"] == "event_script") {

              new_array = output["body"].match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array.length; i++) {
                queues[{{.Uuid}}].push(new_array[i])
              }
            } else if (output["event_type"] == "result_script") {
              isFinished[{{.Uuid}}] = true

            } else if (output["event_type"] == "event_test") {
              new_array_ref = output["body"]["ref_log_event"] .match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array_ref.length; i++) {
                queues_test_ref[{{.Uuid}}].push(new_array_ref[i])
              }

              new_array_log = output["body"]["test_log_event"].match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array_log.length; i++) {
                queues_test_test[{{.Uuid}}].push(new_array_log[i])
              }
            } if (output["event_type"] == "result_test") {
              isFinished_test[{{.Uuid}}] = true

              if (output["status"] == true) {
                $("#save_test_run_success_history_{{.Uuid}}").show();
                $("#save_test_run_success_history_{{.Uuid}}").text(output["body"]);
                $( "#head_panel_history_{{.Uuid}}" ).removeClass( "panel-warning" )
                $( "#head_panel_history_{{.Uuid}}" ).addClass( "panel-success" )
              }
            }
          }
        }
      },
      error: function(xhr, resp, text) {
          console.log(xhr, resp, text);
      }
    });
  }

   $("#run_test_btn_{{.Uuid}}").click(function() {
     $.get( "/history?uuid=" + {{.Uuid}} + "&testName=" + {{.Name}}, function(data) {
          $("#panel_test_run_{{.Uuid}}").slideUp(function() {
            $("#panel_test_run_{{.Uuid}}").slideDown(function() {
              console.log(data)
              $("#panel_test_run_{{.Uuid}}").html(data)
              run({{.ID}}, {{.Uuid}});
            });
          });
     });
   });

   $("#exit_test_btn_{{.Uuid}}").click(function() {
     $("#panel_test_run_{{.Uuid}}").slideUp();
     $("#exit_test_btn_{{.Uuid}}").slideUp()
   });

   $("#history_test_btn_{{.Uuid}}").click(function() {
       $.get( "/tests/{{.ID}}/history_template?testID={{.ID}}", function(data) {
           $("#history_panel_{{.Uuid}}").slideDown();
           console.log(data)

           $("#history_panel_body_{{.Uuid}}").html(data)
       });
   });


   $("#save_test_btn_{{.Uuid}}").click(function() {
     CreateOrUpdateTest({{.Uuid}}, '/tests/' + {{.ID}} + "?id_test="+ {{.ID}}, 'put')
   });

   $("#delete_test_btn_{{.Uuid}}").click(function(){
     $.ajax({
         url: '/tests/' + {{.ID}} + "?id_test=" + {{.ID}},
         type: 'DELETE',
         success: function(result) {
           if (result["status"] != true) {

             $("#save_test_error_{{.Uuid}}").slideDown()
             $("#save_test_error_{{.Uuid}}").text(result["message"])
           } else {
             $("#panel_test_infos_{{.Uuid}}").remove()
           }
             // Do something with the result
         }
     });
   });


    //Line number is zero based index
  //  var actualLineNumber = 2;

    //Select editor loaded in the DOM

  //Write the item to the console window, for debugging
    //Set line CSS class to the line number & affecting the background of the line with the css class of line-error
    //config_editor[2].addLineClass(actualLineNumber, 'background', 'line-error');

  if ({{.ID}} == 0) {
      $(".run_test_btn").hide();
      $(".delete_test_btn").hide();
      $(".save_test_btn").hide();
      $("#history_test_btn_{{.Uuid}}").hide();
  } else {
    $(".create_test_btn").hide();
  }

  function FileChange() {
    console.log($(this))
    console.log($(this).val().split("\\")[2])
    $(this).parent().find(".file_title_test").text($(this).val().split("\\")[2])
  }

  $('.value_params_test').on("change", function(){
    $(this).parent().find(".file_title_test").text($(this).val().split("\\")[2])
  });
});
//

// //

</script>
