{{set_test_uuid . }}
<div class="panel panel-info" id=panel_test_infos_{{.Uuid}}>
  <div class="panel-heading">
    {{if eq .TestID 0}}
    <!-- <h3 class="panel-title"><i>Register test</i></h3> -->
    <h4 class="panel-title">
      <a data-toggle="collapse" id=collapser_test_{{.Uuid}} style="background-color:transparent;">Register test</a>
    </h4>
    <!-- <a data-toggle="collapse" class="fa fa-clock-o fa-fw" href="#collapse1">Registrer test</a> -->
    {{else}}
    <h4 class="panel-title">
      <a data-toggle="collapse" href=collapse_test_{{.Uuid}} id=collapser_test_{{.Uuid}} data-parent="#accordion" style="background-color:transparent;">{{.Name}}</a>
    </h4>
    {{end}}
      <!-- <h3 class="panel-title"><i ></i></h3> -->
  </div>
  {{if eq .TestID 0}}
  <div id="collapse_test_{{.Uuid}}" class="panel-collapse collapse in">
  {{else}}
  <div id="collapse_test_{{.Uuid}}" class="panel-collapse collapse">
  {{end}}
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div>
            <div class="form-group">
              <div class="form-group" >
                <label for="ExecutionID" style="display:none;"></label>
                <input required id="execIDinput" type="hidden">
              </div>
              <div class="form-group" >
                <label for="test_name">Test name</label>
                <input required id="test_name_{{.Uuid}}" type="text" class="form-control" value="{{.Name}}">
              </div>
              <div class="form-group">
                <label for="path_file">Log ref event path file</label>
                <input required id="log_event_file_{{.Uuid}}" value="{{.PathLogFile}}" type="text" class="form-control"></input>
              </div>
              <div class="form-group">
                <label for="path_file">Log test event path file</label>
                <input required id="log_event_ref_file_{{.Uuid}}" value="{{.PathRefFile}}" type="text" class="form-control"></input>
              </div>
              <div class="form-group" >
                <div class="form-group" >
                  <label for="config">Add config json file</label>
                  <input required id="config_script" type="hidden">
                </div>
                <textarea id="config_area_{{.Uuid}}" class="config_area">{{.Config}}</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" id="exec_form_{{.Uuid}}">
          <div class="form-group"  >
            <label for="script">Add an execution</label>
            <select class="form-control" id=select_exec_{{.Uuid}}>
              <option val="0">Choose an execution</option>

            </select>
          </div>
            {{template "Executions/execution.html" .Execution}}
      <!-- NE PAS OUBLIER LES EXECUTIONS -->
        </div>
      </div>
      <!-- output de test -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=panel_test_run_{{.Uuid}} style="display:none; margin-top:20px;">

          </div>
        </div>
      </div>
      <!-- history  -->
      <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
          <div class="panel panel-warning" id=history_panel_{{.Uuid}} style="display:none;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#history_collapse_{{.Uuid}}"  style="background-color:transparent;">History</a>
                </h4>
              </div>
              <div id="history_collapse_{{.Uuid}}" class="panel-collapse collapse in">
                <div class="panel-body" id=history_panel_body_{{.Uuid}}></div>
              </div>
            </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-12">
          <div class="buttons">
            <button id=save_test_btn_{{.Uuid}} class="save_test_btn btn btn-primary" style="display:none;">Save</button>
            <button id=create_test_btn_{{.Uuid}} class="create_test_btn btn btn-primary">Create</button>
            <button id=run_test_btn_{{.Uuid}} class="run_test_btn btn btn-success">Run</button>
            <button id=delete_test_btn_{{.Uuid}} class="delete_test_btn btn btn-danger">Delete</button>
            <button id=exit_test_btn_{{.Uuid}} class="exit_test_run_btn btn btn-danger" style="display:none;">Exit run mode</button>
            <button id=history_test_btn_{{.Uuid}} class="history_test_btn btn btn-warning">See history</button>
          </div>
          <ul class="list-group">
            <li id=save_test_error_{{.Uuid}} style="display:none;" class="list-group-item list-group-item-danger"></li>
            <li id=save_test_success_{{.Uuid}} style="display:none;"  class="list-group-item list-group-item-success"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<style>

</style>

<script>
var executionIDs = {};
var array

$(document).ready(function() {
  init_test({{.Uuid}})
  if (!array) {
    $.ajax({
      dataType: "json",
      url: "http://{{getIP}}:9000/execution",
      success: function (data) {
        array = data["response"]
        $.each(array, function(k,v){
          $('#select_exec_{{.Uuid}}').append($('<option>', {
                value : v["executionID"],
                text: v["name"]
              }))
          });
        }
    });
  } else {
    $.each(array, function(k,v){
      console.log("lol : " + v)
      $('#select_exec_{{.Uuid}}').append($('<option>', {
            value : v["executionID"],
            text: v["name"]
          }))
      });
  }


  if ({{.ExecutionID}} == 0) {
    $('#collapse_exec_' +{{.Uuid}}).css({"display":"none"});
  }

  $('#select_exec_{{.Uuid}}').on('change', function() {
    var value = $('#select_exec_{{.Uuid}} :selected').text()
    function getElement(element) {
      console.log(element.name)
      return element.name == value;
    }
    elem = array.find(getElement)
    if (!elem) {
      $('#collapse_exec_' + {{.Uuid}}).css({"display":"none"});
      script_editor[{{.Uuid}}].setValue("")
      output_script_editor[{{.Uuid}}].setValue("")
      $("#exec_name_" + {{.Uuid}}).attr("value","")
      $("#create_btn_" + {{.Uuid}}).show()
      executionIDs[{{.Uuid}}] = 0
    } else {
      $('#collapse_exec_' + {{.Uuid}}).css({"display":"inherit"});
      script_editor[{{.Uuid}}].setValue(elem.script)
      script_editor[{{.Uuid}}].refresh()
      output_script_editor[{{.Uuid}}].setValue("")
      $("#exec_name_" + {{.Uuid}}).attr("value", elem.name)
      $("#create_btn_" + {{.Uuid}}).hide()
      executionIDs[{{.Uuid}}] = elem.executionID
    }
  });

  $("#collapser_test_{{.Uuid}}").on('click', function() {
    $("#collapse_test_{{.Uuid}}").toggle()
    console.log("uuid : " + {{.Uuid}})
    if ({{.ExecutionID}} != 0) {
      $("#select_exec_{{.Uuid}}").val({{.ExecutionID}});
      $('#collapse_exec_' + {{.Uuid}}).css({"display":"inherit"});
    }
    config_editor[{{.Uuid}}].refresh()
    //output_script_test[{{.Uuid}}].refresh()
    script_editor[{{.Uuid}}].setValue({{.Execution.Script}})
    script_editor[{{.Uuid}}].refresh()
    output_script_editor[{{.Uuid}}].refresh()
  });

  $("#create_test_btn_{{.Uuid}}").click(function() {
      $("#save_test_error_{{.Uuid}}").hide()
      $("#save_test_success_{{.Uuid}}").hide()

      var data = {
        name : $("#test_name_{{.Uuid}}").val(),
        config : config_editor[{{.Uuid}}].getValue(),
        path_log : $("#log_event_file_{{.Uuid}}").val(),
        log_events : $("#log_event_ref_file_{{.Uuid}}").val(),
        executionID : executionIDs[{{.Uuid}}],
      };

          // construct an HTTP request
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://{{getIP}}:9000/test/', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        // send the collected data as JSON
        xhr.send(JSON.stringify(data));

        xhr.onloadend = function () {
          response = JSON.parse(xhr.responseText);
          if (response["status"] != true) {

            $("#save_test_error_{{.Uuid}}").slideDown()
            $("#save_test_error_{{.Uuid}}").text(response["message"])
          } else {
            $("#save_test_success_{{.Uuid}}").slideDown()
            $("#save_test_success_{{.Uuid}}").text(response["message"])
            console.log(response["response"])
            console.log(response["response"]["TestID"])
          }
        };
  });

  function run(testID, ruuid) {
    $.ajax({
      url: 'http://{{getIP}}:9000/test/' + testID + '/run', // url where to submit the request
      type : "POST", // type of action POST || GET
      dataType : 'json', // data type
      data : "testID=" + testID,
      success : function(data) {
        if (data["status"] == false) {
            alert(data["message"])
          } else {
          uuid = data["response"]
          console.log("SUCCESS : uuid " + uuid)

          var socket = new WebSocket('ws://{{getIP}}:9000/websocket/room?room_name=' + uuid)

          isFinished_test[{{.Uuid}}] = false
          isFinished[{{.Uuid}}] = false

          init_run({{.Uuid}})
          init_run_test({{.Uuid}})


          output = ""
          console.log("uuid test: " + uuid)
          socket.onmessage = function(event) {
            output = JSON.parse(event.data)
            if (output["status"] == false) {
              $("#save_test_run_error_history_{{.Uuid}}").show();
              $("#save_test_run_error_history_{{.Uuid}}").text(output["message"]);
              $( "#head_panel_history_{{.Uuid}}" ).removeClass( "panel-warning" )
              $( "#head_panel_history_{{.Uuid}}" ).addClass( "panel-danger" )


            } else if (output["response"]["event_type"] == "exec_event") {

              new_array = output["response"]["body"].match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array.length; i++) {
                queues[{{.Uuid}}].push(new_array[i])
              }
            } else if (output["response"]["event_type"] == "result_exec") {
              isFinished[{{.Uuid}}] = true

            } else if (output["response"]["event_type"] == "test_event") {
              new_array_ref = output["response"]["body"]["ref_log_event"] .match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array_ref.length; i++) {
                queues_test_ref[{{.Uuid}}].push(new_array_ref[i])
              }

              new_array_log = output["response"]["body"]["test_log_event"].match(/[\s\S]{1,1000}/g)
              for (var i = 0; i < new_array_log.length; i++) {
                queues_test_test[{{.Uuid}}].push(new_array_log[i])
              }
            } else if (output["response"]["event_type"] == "result_event") {
              isFinished_test[{{.Uuid}}] = true
              $("#save_test_run_success_history_{{.Uuid}}").show();
              $("#save_test_run_success_history_{{.Uuid}}").text(output["response"]["body"]);
              $( "#head_panel_history_{{.Uuid}}" ).removeClass( "panel-warning" )
              $( "#head_panel_history_{{.Uuid}}" ).addClass( "panel-success" )
            }
          }
        }
      },
      error: function(xhr, resp, text) {
          console.log(xhr, resp, text);
      }
    });
  }

   $("#run_test_btn_{{.Uuid}}").click(function() {
     $.get( "/history?uuid=" + {{.Uuid}} + "&testName=" + {{.Name}}, function(data) {
       console.log("data  : " + data)

          $("#panel_test_run_{{.Uuid}}").slideUp(function() {
            $("#panel_test_run_{{.Uuid}}").slideDown(function() {
              $("#panel_test_run_{{.Uuid}}").html(data)
              run({{.TestID}}, {{.Uuid}});
            });
          });
     });
   });

   $("#exit_test_btn_{{.Uuid}}").click(function() {
     $("#panel_test_run_{{.Uuid}}").slideUp();
     $("#exit_test_btn_{{.Uuid}}").slideUp()
   });

   $("#history_test_btn_{{.Uuid}}").click(function() {
       $.get( "/test/{{.TestID}}/history_template?testID={{.TestID}}", function(data) {
          console.log("#history_panel_{{.Uuid}}")
          console.log("#history_panel_body_{{.Uuid}}")

           $("#history_panel_{{.Uuid}}").slideDown();
           $("#history_panel_body_{{.Uuid}}").html(data)
       });
   });


   $("#save_test_btn_{{.Uuid}}").click(function() {
     $("#save_test_error_{{.Uuid}}").hide()
     $("#save_test_success_{{.Uuid}}").hide()

     var data = {
       name : $("#test_name_{{.Uuid}}").val(),
       config : config_editor[{{.Uuid}}].getValue(),
       path_log : $("#log_event_file_{{.Uuid}}").val(),
       log_events : $("#log_event_ref_file_{{.Uuid}}").val(),
       executionID : executionIDs[{{.Uuid}}],
     };

         // construct an HTTP request
       var xhr = new XMLHttpRequest();
       xhr.open("PUT", 'http://{{getIP}}:9000/test/' + {{.TestID}} + "?id_test="+ {{.TestID}}, true);
       xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

       // send the collected data as JSON
       xhr.send(JSON.stringify(data));

       xhr.onloadend = function () {
         response = JSON.parse(xhr.responseText);
         if (response["status"] != true) {

           $("#save_test_error_{{.Uuid}}").slideDown()
           $("#save_test_error_{{.Uuid}}").text(response["message"])
         } else {
           $("#save_test_success_{{.Uuid}}").slideDown()
           $("#save_test_success_{{.Uuid}}").text(response["response"])
           console.log(response["response"])
         }
       };
   });

   $("#delete_test_btn_{{.Uuid}}").click(function(){
     $.ajax({
         url: '/test/' + {{.TestID}} + "?id_test=" + {{.TestID}},
         type: 'DELETE',
         success: function(result) {
           if (result["status"] != true) {

             $("#save_test_error_{{.Uuid}}").slideDown()
             $("#save_test_error_{{.Uuid}}").text(result["message"])
           } else {
             $("#panel_test_infos_{{.Uuid}}").remove()
           }
             // Do something with the result
         }
     });
   });

    //Line number is zero based index
  //  var actualLineNumber = 2;

    //Select editor loaded in the DOM

  //Write the item to the console window, for debugging
    //Set line CSS class to the line number & affecting the background of the line with the css class of line-error
    //config_editor[2].addLineClass(actualLineNumber, 'background', 'line-error');

  if ({{.TestID}} == 0) {
      $(".run_test_btn").hide();
      $(".delete_test_btn").hide();
      $(".save_test_btn").hide();
      $("#history_test_btn_{{.Uuid}}").hide();
  } else {
    $(".create_test_btn").hide();
  }
});
//

// //

</script>
